.profile__united{
    display: flex;
    gap: 18px;
    align-items: baseline;
}

@media screen and (max-width: 540px) {
    .profile__united{
        justify-content: center;
        gap: 10px;
    }
}