.elements{
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
    justify-content: center;
}

@media screen and (max-width: 940px) {
    .elements{
        gap: 20px 30px;
    }
}

@media screen and (max-width: 640px) {
    .elements{
        gap: 10px 10px;
    }
}

@media screen and (max-width: 426px) {
    .elements{
        gap: 20px 0px;
    }
}