.profile__status{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 540px) {
    .profile__status{
        max-width: 189px;
        font-size: 14px;
        line-height: 17px;
        margin: 0 auto;
    }
}