.header{
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 426px) {
    .header{
        padding: 27px 27px;
        margin: 0 auto;
    }
}